* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar horizontal */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    z-index: 2;
    height: 50px;
}

.horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    visibility: visible;
    margin: 0;
    padding: 0;
}

.navMenuLink {
    display: flex;
    align-items: center;
    list-style-type: none;
    white-space: nowrap;
    color: hsla(210, 26%, 7%, 0.7);
}

.navMenuLink a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
}

/* Menú lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s;
    padding-top: 50px;
    z-index: 3;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Botón menú hamburguesa */
.menu-btn {
    display: none;
    position: sticky;
    background-color: #333;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    z-index: 4;
}

#menu-btn-container {
    position: sticky;
    top: 0;
    display: none;
    justify-content: flex-start;
    align-items: center;
    background-color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    z-index: 4;
    height: 50px;
    visibility: hidden;
}

#menu-btn-container.horizontal-bar-active {
    display: flex;
    visibility: visible;
}

/* Media Query */
@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    /* Mostrar el contenedor del botón */
    #menu-btn-container {
        display: flex;
        visibility: visible;
    }

    .menu-btn {
        display: block;
    }
}


/* Home Content */
.homeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: auto;
    position: relative;
    overflow: hidden;
}

/* Imagen principal */
.homeImg {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.principalImg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 35.98%;
    padding-top: 5dvh;
    transition: 0.5s;
}

.contentImg, .contentImgB {
    flex-grow: 1;
}

.contentImg {
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.contentImgB {
    width: 100%;
    height: 375px;
    overflow: hidden;
    position: relative;
}

/* Footer */
.footer {
    background-color: #f4f4f4;
    color: #333;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo img {
    max-width: 120px;
    height: auto;
}

.footer-contact,
.footer-address {
    flex: 1;
    min-width: 200px;
}

.footer-contact p,
.footer-address p {
    margin: 5px 0;
    line-height: 1.6;
}

.footer-contact strong,
.footer-address strong {
    font-size: 16px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-contact,
    .footer-address {
        text-align: center;
    }

    .footer-logo img {
        margin-bottom: 20px;
    }
}

/* Galería */
.section-build {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    min-height: 80dvh;
}

.gallery-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-family: YAEnXHTFXhg-0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    padding-top: 1%;
}

.image-container {
    position: relative;
    width: 30%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container:hover .gallery-image {
    transform: scale(1.1);
    filter: contrast(120%);
}

.image-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: none;
}

.image-container:hover .image-text {
    display: block;
}

@media (max-width: 768px) {
    .image-container {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .image-container {
        width: 100%;
    }
}

/* Sección ABOUT */
.ImageAboutContainer {
    width: 100%;
    height: 375px;
    overflow: hidden;
    position: relative;
}

.ImageAbout {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 35.98%;
    padding-top: 5dvh;
    transition: 0.5s;
}

.TitleAboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    padding-top: 5%;
}

.TitleAbout {
    color: #4e5152;
    font-family: YAEnXHTFXhg-0;
    line-height: 1.16666667em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
}

.TextAboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5%;
}

.TextAbout {
    color: #4e5152;
    font-family: YAEnXHTFXhg-0;
    line-height: 1.4;
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: -0.02em;
    padding-bottom: 20dvh;
}

/* Secciones específicas */
.section-home {
    min-height: 70dvh;
}

.section-contact,
.section-retail {
    min-height: 20dvh;
}

/* Layout principal */
body {
    padding: 0;
    margin: 0;
}

div, section {
    display: grid;
    grid-template-rows: auto 1fr auto;
}



.slider {
    width: 100%;
   
    margin: 40px auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
  .slider div {
    text-align: center;
    padding: 20px;
    background: #ffffff;
   
    font-size: 14px;
  }
  
  @media (max-width: 480px) {
    .slide img {
      max-width: 100%;
      max-height: 80px;
    }
    }

    .slider-container {
        position: relative;
        max-width: 600px;
        margin: auto;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
  
    
  
      .slide {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        padding: 20px;
      }
  
      .slide img {
        max-width: 100%;
        max-height: 160%;
        object-fit: contain;
      }

      .slider-container h1 {
        padding-top: 7%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #333;
        font-weight: 600;
        font-family: "Segoe UI", sans-serif;
        letter-spacing: 1px;
      }
      .slider-container h1::after {
        content: "";
        display: block;
        width: 120px;
        height: 3px;
        background-color: #4e5152; 
        margin: 10px auto 0;
        border-radius: 2px;
      }

        /* Slider del staff */
      .staff-slider-container {
        text-align: center;
        padding: 20px;
      }
      
      .staff-title {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 7%;
      }
      .staff-slider-container h1::after {
        content: "";
        display: block;
        width: 120px;
        height: 3px;
        background-color: #4e5152; 
        margin: 10px auto 0;
        border-radius: 2px;
      }
      
      .staff-slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1.5rem;
        padding-bottom: 10px;
        overflow: hidden;
      }
      
      .staff-slide {
        flex: 0 0 auto;
        scroll-snap-align: center;
        width: 200px;
        text-align: center;
        border-radius: 10px;
        background: #f7f7f7;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        padding: 10px;
        
      }
      
      .staff-slide img {
        width: 100%;
        height: auto;
        max-height: 300px; /* o el alto máximo que tú quieras */
        object-fit: contain;
        border-radius: 8px;
        
      }
      
      
      .staff-name {
        margin-top: 10px;
        font-weight: 600;
        font-size: 1rem;
      }
      
      .staff-name span {
        display: block;
        font-weight: normal;
        font-size: 0.85rem;
        color: #666;
      }
      
            
  
  