<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="../Css/home.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />

</head>

<body>
  <nav class="navbar" id="navbar">
    <ul class="horizontal">
      <li class="navMenuLink"><a class="navContent" title="NOSOTROS">NOSOTROS</a></li>
      <li class="navMenuLink"><a class="navContent" title="LOCALES RETAIL">LOCALES RETAIL</a></li>
      <li class="navMenuLink"><a class="navContent" title="PROYECTOS NUEVOS">PROYECTOS</a></li>
      <li class="navMenuLink"><a class="navContent" title="SERVICIOS">SERVICIOS</a></li>
    </ul>
  </nav>

  <div class="menu-btn-container" id="menu-btn-container">
    <button class="menu-btn" id="menuButton">☰</button>
  </div>

  <nav class="sidebar" id="sidebar">
    <ul>
      <li><a href="#">NOSOTROS</a></li>
      <li><a href="#">LOCALES RETAIL</a></li>
      <li><a href="#">PROYECTOS</a></li>
      <li><a href="#">SERVICIOS</a></li>
    </ul>
  </nav>

  <section class="section-home" style="background:linear-gradient(90deg, rgba(166, 166, 166, 1.000000) 0%, rgba(255, 255, 255, 1.000000) 100%); width:100%; height:100%; overflow:hidden; position:relative;">
    <div class="homeContent">
      <div class="contentImg">
        <img src="../Img/c-mvt_logo.png" loading="lazy" class="homeImg" />
      </div>
      <div class="contentImgB">
        <img class="principalImg" src="../Img/image_home.jpg" srcset="../Img/alt_home_image.jpg 980w, ../Img/image_home.jpg 1959w" sizes="(max-width: 375px) 91.46666667vw, (min-width: 375.05px) and (max-width: 480px) 93.33333333vw, (min-width: 480.05px) and (max-width: 768px) 91.66666667vw, (min-width: 768.05px) and (max-width: 1024px) 93.75vw, (min-width: 1024.05px) 85.98460904vw" />
      </div>
    </div>
  </section>

  <section class="section-about">
    <div class="ImageAboutContainer">
      <img src="../Img/About_image.jpg" class="ImageAbout" sizes="(max-width: 375px) 91.46666667vw, (min-width: 375.05px) and (max-width: 480px) 93.33333333vw, (min-width: 480.05px) and (max-width: 768px) 91.66666667vw, (min-width: 768.05px) and (max-width: 1024px) 93.75vw, (min-width: 1024.05px) 85.98460904vw" />
    </div>
    <div class="TitleAboutContainer"><span class="TitleAbout">SOBRE NOSOTROS</span></div>
    <div class="TextAboutContainer"><span class="TextAbout">
        Nuestro equipo se dedica a proporcionar <br />
        soluciones integrales en diseño,<br />
        construcción y mantenimiento para diversos sectores, incluyendo hogares,<br />
        oficinas, retail, condominios, centros educativos y otros.
      </span></div>
      <div class="staff-slider-container">
        <h1 class="staff-title">NUESTRO PERSONAL ACTIVO</h1>
        <div class="staff-slider">
          <div class="staff-slide">
            <img src="../Img/Jefe-1.jpg" alt="Foto del personal" />
            <p class="staff-name">Francisco Elizondo Villalobos<br><span>Jefe de Proyectos</span></p>
          </div>
          <div class="staff-slide">
            <img src="../Img/Jefe-2.jpg" alt="Foto del personal" />
            <p class="staff-name">Francisco Elizondo Quezada<br><span>Supervisor </span></p>
          </div>
          <div class="staff-slide">
            <img src="../Img/Jefe-3.jpg" alt="Foto del personal" />
            <p class="staff-name">Paulo Rojas Retamales<br><span>Jefe de Operaciones</span></p>
          </div>
          <div class="staff-slide">
            <img src="../Img/jefe-4.jpg" alt="Foto del personal" />
            <p class="staff-name">Erick Díaz Valenzuela<br><span>Técnico Mantención</span></p>
          </div>
          <div class="staff-slide">
            <img src="../Img/jefe-5.jpg" alt="Foto del personal" />
            <p class="staff-name">Owen Rojas Arenas<br><span>Técnico Mantención</span></p>
          </div>
        </div>
      </div>
      
  </section>

  <section class="section-build" style="background: rgba(166, 166, 166, 1.000000); width:100%; height:100%; overflow:hidden; position:relative;">
    <div class="gallery-title">Galería</div>
    <div class="image-container" style="opacity: 0;">
      <img src="../Img/Local_metro.jpg" class="gallery-image" />
      <div class="image-text">HAPPYLAND</div>
    </div>
    <div class="image-container">
      <img src="../imagenes/234338.jpg" class="gallery-image" onclick="window.location.href='../Layout/Galery1.html';" />
      <div class="image-text">HAPPYLAND</div>
    </div>
    <div class="image-container" style="opacity: 0;">
      <img src="../Img/Local_metro.jpg" class="gallery-image"  />
      <div class="image-text">EMPRESA Y</div>
    </div>
  </section>

  <section>
    <div class="slider-container">
      <h1>NOS ELIGIERON CON SEGURIDAD</h1>
    <div class="slider">
      <div class="slide"><img src="../Img/itau.png" alt="Si puedes leer esto, es porque se cayo el servidor de imagenes" /></div>
      <div class="slide"><img src="../Img/Logo_Aramark_2.png " alt="Si puedes leer esto, es porque se cayo el servidor de imagenes" /></div>
      <div class="slide"><img src="../Img/happyland.png" alt="Si puedes leer esto, es porque se cayo el servidor de imagenes" /></div>
    </div>
  </div>
  </section>

  <section class="section-contact">
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../Img/c-mvt_logo.png" alt="Logo de la Empresa" />
        </div>
        <div class="footer-contact">
          <p><strong>Contacto electrónico</strong></p>
          <p>Felizondo@c-mvt.com</p>
          <p>Paulo.rojas@c-mvt.com</p>
        </div>
        <div class="footer-contact">
          <p><strong>Teléfono</strong></p>
          <p>+56949557975</p>
        </div>
      </div>
    </footer>
  </section>

  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.slider').slick({
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1
      });
  
    $('.staff-slider').slick({
      autoplay: true, 
      autoplaySpeed: 2000,
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 3, 
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    });
  });
  </script>
  
  <script src="../home.js"></script>
</body>
</html>
