<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>C-MVT</title>
  <link rel="stylesheet" href="../Css/home.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
  <link rel="icon" href="../Img/c-mvt_logo.png" type="image/png" sizes="16x16" />
  <link rel="stylesheet" href="../Css/galeria.css" />

</head>

<body>

  <div class="menu-btn-container" id="menu-btn-container">
    <button class="menu-btn" id="menuButton">☰</button>
  </div>
  <nav class="navbar" id="navbar">
    <ul class="horizontal">
      <li class="navMenuLink"><a class="navContent" title="INICIO" href="#section-home">INICIO</a></li>
      <li class="navMenuLink"><a class="navContent" title="NOSOTROS" href="#section-about">NOSOTROS</a></li>
      <li class="navMenuLink"><a class="navContent" title="GALERIA" href="#section-gallery">GALERIA</a></li>
      <li class="navMenuLink"><a class="navContent" title="SERVICIOS" href="#section-contact">CONTACTO</a></li>
    </ul>
  </nav>
  
  <!-- Sidebar -->
  <nav class="sidebar" id="sidebar">
    <ul>
      <li><a class="navigation-link" href="#section-home">INICIO</a></li>
      <li><a class="navigation-link" href="#section-about">NOSOTROS</a></li>
      <li><a class="navigation-link" href="#section-gallery">GALERIA</a></li>
      <li><a class="navigation-link" href="#section-contact">CONTACTO</a></li>
    </ul>
  </nav>
  
  <!-- Sección de HOME -->
  <section class="section-home" id="section-home" style="background:linear-gradient(90deg, rgba(166, 166, 166, 1.000000) 0%, rgba(255, 255, 255, 1.000000) 100%); width:100%; height:100%; overflow:hidden; position:relative;">
    <div class="homeContent">
      <div class="contentImg">
        <img src="../Img/c-mvt_logo.png" loading="lazy" class="homeImg" />
      </div>
      <div class="contentImgB">
        <img class="principalImg" src="../Img/image_home.jpg"
          srcset="../Img/alt_home_image.jpg 980w, ../Img/image_home.jpg 1959w"
          sizes="(max-width: 375px) 91.46666667vw, (min-width: 375.05px) and (max-width: 480px) 93.33333333vw, (min-width: 480.05px) and (max-width: 768px) 91.66666667vw, (min-width: 768.05px) and (max-width: 1024px) 93.75vw, (min-width: 1024.05px) 85.98460904vw" />
      </div>
    </div>
  </section>
  
  <!-- Sección de NOSOTROS -->
  <section class="section-about" id="section-about">
    <div class="ImageAboutContainer">
      <img src="../Img/About_image.jpg" class="ImageAbout"
        sizes="(max-width: 375px) 91.46666667vw, (min-width: 375.05px) and (max-width: 480px) 93.33333333vw, (min-width: 480.05px) and (max-width: 768px) 91.66666667vw, (min-width: 768.05px) and (max-width: 1024px) 93.75vw, (min-width: 1024.05px) 85.98460904vw" />
    </div>
    <div class="TitleAboutContainer"><span class="TitleAbout">SOBRE NOSOTROS</span></div>
    <div class="TextAboutContainer">
      <span class="TextAbout">
        En C-MVT, ofrecemos soluciones integrales en diseño,<br />
        construcción y mantenimiento, abarcando sectores como hogares,<br />
        oficinas, retail, condominios, centros educativos y más.<br />
        Desde 2017, hemos combinado nuestra experiencia con la calidad<br />
        para entregar proyectos que cumplen con las más altas expectativas<br />
        de nuestros clientes.<br /><br />
    
        Nuestro equipo, conformado por profesionales con amplia trayectoria,<br />
        se distingue por su enfoque en la innovación y su capacidad para<br />
        gestionar proyectos de manera eficiente y personalizada.<br />
        La transparencia es uno de nuestros pilares fundamentales,<br />
        por lo que nos aseguramos de mantener una comunicación clara<br />
        y continua respecto a nuestros clientes en cada etapa del proyecto,<br />
        garantizando que cada requisito solicitado sea cumplido.
      </span>
    </div>
  
    <div class="staff-slider-container">
      <h1 class="staff-title">NUESTRO PERSONAL ACTIVO</h1>
      <div class="staff-slider">
        <div class="staff-slide">
          <img src="../Img/Jefe-1.jpg" alt="Foto del personal" />
          <p class="staff-name">Francisco Elizondo Villalobos<br><span>Jefe de Proyectos</span></p>
        </div>
        <div class="staff-slide">
          <img src="../Img/Jefe-2.jpg" alt="Foto del personal" />
          <p class="staff-name">Francisco Elizondo Quezada<br><span>Supervisor </span></p>
        </div>
        <div class="staff-slide">
          <img src="../Img/Jefe-3.jpg" alt="Foto del personal" />
          <p class="staff-name">Paulo Rojas Retamales<br><span>Jefe de Operaciones</span></p>
        </div>
        <div class="staff-slide">
          <img src="../Img/jefe-4.jpg" alt="Foto del personal" />
          <p class="staff-name">Erick Díaz Valenzuela<br><span>Técnico Mantención</span></p>
        </div>
        <div class="staff-slide">
          <img src="../Img/jefe-5.jpg" alt="Foto del personal" />
          <p class="staff-name">Owen Rojas Arenas<br><span>Técnico Mantención</span></p>
        </div>
      </div>
    </div>
  </section>

<section class="gallery-section" id="section-gallery">
  <div class="container">
    <div class="content-image-wrapper">
      <!-- Textual Content -->
      <div class="text-content">
        <div class="badge">
          📷 Galería de Proyectos
        </div>

        <h2>
          Explora Nuestros <br />
          <span class="highlight">Proyectos Realizados</span>
        </h2>

        <p>
          Aqui podras ver un conjunto de imagenes de los proyectos mas recientes que hemos realizado, cada uno de ellos
          representa nuestro compromiso con la calidad y la innovación en el sector de la construcción.
        </p>

        <div class="buttons">
          <a href="/Layout/Galery1.html" class="btn primary">
            👁 Ver Galería Completa →
          </a>
          
        </div>
        <!-- recordar consultar cuanto de estos datos son reales -->
        <div class="stats">
          <div><div class="number">Multiples</div><div>Proyectos</div></div>
          <div><div class="number">50+</div><div>Fotos</div></div>
         
        </div>
      </div>

      <!-- Image Content -->
      <div class="image-content">
        <div class="grid">
          <div class="card large">
            <img src="../imagenes/234346.jpg" alt="Proyecto principal" />
            <div class="overlay">
              <p>Proyecto Residencial</p>
              <small>Edificio Moderno - 2024</small>
            </div>
          </div>
          <div class="card small">
            <img src="../imagenes/234346.jpg" alt="Interior moderno" />
          </div>
          <div class="card small">
            <img src="../imagenes/234346.jpg" alt="Edificio comercial" />
          </div>
        </div>
        <div class="floating-icon">📷</div>
      </div>
    </div>
  </div>
</section>

  <section>
    <div class="slider-container">
      <h1>NOS ELIGIERON CON SEGURIDAD</h1>
      <div class="slider">
        <div class="slide"><img src="../Img/Itau.webp"
            alt="Si puedes leer esto, es porque se cayo el servidor de imagenes" /></div>
        <div class="slide"><img src="../Img/Logo_Aramark_2.png "
            alt="Si puedes leer esto, es porque se cayo el servidor de imagenes" /></div>
        <div class="slide"><img src="../Img/happyland.png"
            alt="Si puedes leer esto, es porque se cayo el servidor de imagenes" /></div>
      </div>
    </div>
  </section>

  <section class="section-contact" id="section-contact">
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../Img/c-mvt_logo.png" alt="Logo de la Empresa" />
        </div>
    
        <div class="footer-contact">
          <p><strong>Contacto electrónico</strong></p>
          <p>Felizondo@c-mvt.com</p>
          <p>Paulo.rojas@c-mvt.com</p>
        </div>
    
        <div class="footer-contact">
          <p><strong>Teléfono</strong></p>
          <p>+56 9 4955 7975</p>
        </div>
    
        <div class="footer-social">
          <a href="https://www.instagram.com/constructoracmvt?igsh=OGx0cmkxanR0eWI2" target="_blank">
            <img src="../Img/Instagram.svg" alt="Si ves esto, se cayo la base de datos de imagenes" />
          </a>
          <a href="https://www.facebook.com/profile.php?id=100008842242563" target="_blank">
            <img src="../Img/Facebook.svg" alt="Error detectado, por favor, sea paciente" />
          </a>
          <a href="https://api.whatsapp.com/send?phone=56949557975&text=Hola!%20Necesit%C3%B3%20informaci%C3%B3n." target="_blank">
            <img src="../Img/whatsapp.svg" alt="Error al cargar la imagen" />
          </a>
        </div>
      </div>
    </footer>
    
  </section>

  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.slider').slick({
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1
      });

      $('.staff-slider').slick({
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.getElementById("menuButton").onclick = function () {
        document.getElementById("sidebar").classList.toggle("active");
      };
    });

  </script>
  <script src="../home.js"></script>
</body>

</html>